<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./style.css">
    <title>2048</title>
</head>

<script src="./vendor/vue.js"></script>
<script src="./helper.js"></script>
<script src="./game.js"></script>
<script src="./ai.js"></script>

<body>
    <div id="app">
        <button v-on:click="toggleAi">{{ isAiPlaying ? 'Stop AI' : 'Start AI' }}</button>
        <button v-show="!isAiPlaying" v-on:click="startNewGame">Start New Game</button>

        <div id="board">
            <div v-for="row in board" class="row">
                <div v-for="cell in row" class="cell"><div>{{ cell || ' ' }}</div></div>
            </div>
        </div>

        <div v-show="!isAiPlaying">
            <div>
                <a href="#" v-on:click="makeMove(direction.UP)"><i class="fas fa-arrow-up"></i></a>
            </div>
            <div>
                <a href="#" v-on:click="makeMove(direction.LEFT)"><i class="fas fa-arrow-left"></i></a>
                <a href="#" v-on:click="makeMove(direction.DOWN)"><i class="fas fa-arrow-down"></i></a>
                <a href="#" v-on:click="makeMove(direction.RIGHT)"><i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</body>

<script>
</script>

<script>
    const worker = new Worker('worker.js')
    let game = new Game()

    function postAiWork() {
        worker.postMessage({
            type: 'find-best-direction',
            board: game.board
        })
    }

    const app = new Vue({
        el: '#app',
        data() {
            return {
                direction: Direction,
                board: Helper.copyBoard(game.board),
                isAiPlaying: false
            }
        },
        methods: {
            startNewGame() {
                game = new Game()
                this.board = Helper.copyBoard(game.board)
            },
            toggleAi() {
                if (game.isOver) {
                    alert('Game is over! Start a new game')
                } else if (this.isAiPlaying) {
                    this.isAiPlaying = false
                } else {
                    this.isAiPlaying = true
                    postAiWork()
                }
            },
            makeMove(direction) {
                if (game.isOver) {
                    alert('Game is over! Start a new game')
                } else {
                    game.play(direction)
                    this.board = Helper.copyBoard(game.board)
                }
            }
        },
        mounted() {
            worker.addEventListener('message', e => {
                switch (e.data.type) {
                    case 'find-best-direction': {
                        this.makeMove(e.data.direction)

                        if (this.isAiPlaying) {
                            if (game.isOver) {
                                this.isAiPlaying = false
                            } else {
                                postAiWork()
                            }
                        }
                    }
                }
            })
        }
    })
</script>

</html>
