<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./style.css">
    <title>2048</title>
</head>

<body>
    <div id="app">
        <div class="input-control">
            <label>
                AI Aggressiveness:
                <select v-model="aiAggressiveness">
                    <option value="high">High</option>
                    <option value="medium">Medium</option>
                    <option value="low">Low</option>
                </select>
            </label>
        </div>
        <div class="input-control">
            <button v-on:click="toggleAi">{{ isAiPlaying ? 'Stop AI' : 'Start AI' }}</button>
        </div>
        <div class="input-control">
            <button :disabled="isAiPlaying" v-on:click="startNewGame">Start New Game</button>
        </div>

        <div v-if="isAiPlaying" id="ai-timing">
            Processing time per move: {{ averageAitimings }} ms
        </div>

        <div id="board">
            <div v-for="row in board" class="row">
                <div v-for="cell in row" class="cell">
                    <div>{{ cell || ' ' }}</div>
                </div>
            </div>
        </div>

        <div :disabled="isAiPlaying">
            <div class="wraper-move">
                <a :disabled="isAiPlaying" v-on:click="makeMove(direction.UP)" href="#"><i
                        class="fas fa-arrow-up"></i></a>
            </div>
            <div class="wraper-move">
                <a :disabled="isAiPlaying" v-on:click="makeMove(direction.LEFT)" href="#"><i
                        class="fas fa-arrow-left"></i></a>
                <a :disabled="isAiPlaying" v-on:click="makeMove(direction.DOWN)" href="#"><i
                        class="fas fa-arrow-down"></i></a>
                <a :disabled="isAiPlaying" v-on:click="makeMove(direction.RIGHT)" href="#"><i
                        class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</body>

<script src="./vendor/vue.js"></script>
<script src="./helper.js"></script>
<script src="./game.js"></script>
<script src="./ai.js"></script>
<script src="./page.js"></script>
